<h1>Tracker#index</h1>
<p>This is the landing page</p>
<p>
  <u> Track an item: </u>
  <%= form_tag(:action => 'track_helper') do %>
    Item ID: <%= text_field_tag(:id) %>

    <%= submit_tag('Track Item') %>
  <% end %>
</p>
<p><b> 
  <%= link_to("Register a new item", {:action => 'register'}) %>
</b></p>
