<% @page_title = "Edit Admin User: #{@admin_user.name}" %>

<%= link_to("<< Back to List", {:action => 'list'}) %>

<div class="user edit">
  <h2>Edit Admin User</h2>

  <%= form_for(:admin_user, :url => {:action => 'edit', :id => @admin_user.id}) do |f| %>

    <%= render(:partial => 'user_form_table', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update User") %>
    </div>

  <% end %>
</div>
