<% @page_title = 'Create New Admin User' %>

<%= link_to("<< Back to List", {:action => 'list'}) %>

<div class="user new">
  <h2>Create Admin User</h2>

  <%= form_for(:admin_user, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => 'user_form_table', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create User") %>
    </div>

  <% end %>
</div>
