<%= link_to("Back to list", {:action => 'list'}) %>
<br />
<%= link_to("Edit item", {:action => 'edit', :id => @item.id}) %>



<div class="item show">
  <h2>Show Item</h2>

  <%= render(:partial => 'item_display_table') %>

</div>
